packer_cache/
packer-cache/
*.box
.vagrant/
*.vdi
output*/
*~
*.vmdk
*.ovf
.vagrant/*
.cfg.*
variables*.json
!variables-sample.json
variables.json
variables-home.json
*.swp
data/
*.log
*.tar
id_rsa_github_deploy_key
id_rsa*
*.txt.xz
Understanding-Free*
1950*
.DS_Store
*.ova
.terraform/
.terraform*

# Exclude packer variable file
variables.pkr.hcl