packer_cache/
*.box
.vagrant/
*.vdi
output*/
*~
*.vmdk
*.ovf
build/*
!build/itmo-453-553/
.vagrant/*
.cfg.*
variables*.json
!variables-sample.json
variables.json
variables-home.json
*.swp
data/
*.log
Vagrantfile
*.tar
id_rsa_github_deploy_key
id_rsa*
packer/build/xenial64/ubuntu-xenial-16.04-cloudimg-console.log
*.txt.xz
Understanding-Free*
1950*
.DS_Store
*.ova
